---

---


<footer class="bg-white border-t border-gray-100 py-8">
    <div class="max-w-7xl mx-auto px-4 text-center">
        <p class="font-['Cormorant_Garamond'] text-xl text-gray-700 mb-2">© Jennifer & Alejandro</p>
    </div>
</footer>