---
import Layout from "@/layouts/Layout.astro";
import MenuImage from '@/assets/menu.jpeg';
---

<Layout title="Jennifer & Alejandro | Itinerario">
    <div class="min-h-screen flex flex-col items-center gap-8 bg-gray-100">
      <img src={MenuImage.src} alt="Itinerario" class="max-w-xs rounded-xl mt-8 mb-8 shadow-lg" />
    </div>
</Layout>