---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Jennifer & Alejandro | Terminos">

    <section class="max-w-3xl mx-auto p-6">

        <h1 class="text-4xl text-gray-700 mb-4">Términos y Condiciones</h1>

        <p class="block text-sm font-medium text-gray-700 mb-4">
        La información proporcionada en este formulario será utilizada exclusivamente para gestionar tu asistencia al evento,
        comunicarnos contigo en caso de actualizaciones importantes, y asegurarnos de ofrecerte la mejor experiencia posible.
        </p>

        <p class="block text-sm font-medium text-gray-700 mb-4">
        Tus datos no serán compartidos con terceros ni usados para fines publicitarios o comerciales.
        </p>

        <p class="block text-sm font-medium text-gray-700 mb-4">
        Toda la información recopilada será eliminada después del día de la boda.
        </p>

        <p class="block text-sm font-medium text-gray-700 mb-4">
        Al aceptar estos términos, estás de acuerdo con este uso temporal y específico de tus datos.
        </p>

    </section>
</Layout>