---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Jennifer & Alejandro | 404">
    <div class="h-screen relative flex items-center justify-center text-center">
        <h1 class="text-4xl text-gray-700"> En construcción...</h1>
    </div>
</Layout>